@use "@styles/variables/colors";
@use "@styles/variables/fonts";
@use "@styles/variables/size";

.main__container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.product__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product{
    width: 100%;
    height: 79vh;
    min-height: 400px;
    max-height: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: colors.$main-black;
    padding: 20px;
    &__wrapper{
        width: 40%;
        height: 100%;
        max-height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .information{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__title{
                width: 100%;
                font-size: size.$title;
                font-family: fonts.$title;
                font-weight: bold;
                color: colors.$white;
                text-align: left;
                margin-bottom: 4px;
            }
            &__rating{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                &--image{
                    width: 70%;
                    height: auto;
                    margin-left: -3px;
                }
                &--value{
                    font-family: fonts.$title;
                    font-size: size.$secondary-subtitle;
                    color: colors.$light-white;
                    font-weight: bold;
                    margin-left: 10px;
                }
            }
            &__price{
                font-size: size.$subtitle;
                font-family: fonts.$title;
                color: colors.$white;
                font-weight: bold;
            }
        }
        .specs{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            &__container{
                width: 110px;
                height: 75px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 6px;
                background-color: colors.$secondary-black;
                border-radius: 6px;
                box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
                &--text{
                    width: 90%;
                    font-family: fonts.$text;
                    font-size: size.$text;
                    font-weight: 500;
                    color: colors.$white;
                    text-align: center;
                }
                &--subtitle{
                    font-family: fonts.$text;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: colors.$light-white;
                    text-align: center;
                }
            }
        }
    }
    &__image{
        width: 55%;
        height: 100%;
        max-height: 550px;
        padding: 10px;
        &--picture{
            width: 100%;
            height: inherit;
            border-radius: 10px;
            box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease-in-out;
        }
        &--pictureC{
            width: 100%;
            height: inherit;
            padding: 20px;
            border-radius: 10px;
            box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease-in-out;
        }
    }
}
.description{
    width: 100%;
    font-size: size.$text;
    font-family: fonts.$text;
    color: colors.$light-white;
    font-weight: 500;
    text-align: justify;
    margin-top: 5px;
    padding: 20px;
}
.price{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -1%;
    background-color: colors.$secondary-black;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    &__container{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        .price__button--buy{
            width: 40%;
            height: 45px;
            background-color: colors.$yellow;
            border: none;
            border-radius: 8px;
            font-size: size.$subtitle;
            font-family: fonts.$title;
            font-weight: bold;
            color: colors.$main-black;
            transition: all 0.5s ease-in-out;
            box-shadow:  0px 0px 10px rgba(238, 175, 41, 0.5);
        }     
        .price__button--cart{
            width: 40%;
            height: 45px;
            border: 1px solid colors.$white;
            border-radius: 8px;
            background-color: transparent;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in-out;
            &__image{
                width: 90%;
                height: 90%;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: contain;
            }
        }       
    }
}
.suggested{
    z-index: 2;
    background-color: colors.$main-red;
    position: relative;
    margin-bottom: -4px;
    &__title{
        font-size: size.$title;
        font-family: fonts.$title;
        color: colors.$white;
        padding: 20px;
    }
}
@media (min-width: 360px){
    .product{
        height: 87vh;
    }
}
@media (min-width: 768px){
    .main__container--wrapper{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: colors.$main-black;
        margin-bottom: 30px;
    }
    .details__container{
        width: 40%;
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 40%;
        transform: translate(0, -40%);
    }
    .product{
        border-bottom-right-radius: 8px;
    }
    .product__box{
        width: 65%;
        height: 100%;
        justify-content: space-between;
    }
    .product{
        min-height: 100%;
        &__wrapper{
            .information{
                &__title{
                    width: 100%;
                }
                &__rating{
                    margin-left: -4%;
                }
            }
            .specs{
                &__container{
                    width: 145px;
                    height: 95px;
                }
            }
        }
    }
    .price{
        width: 78%;
        position: absolute;
        bottom: -80px;
        border-radius: 16px;
        padding: 10px;
        &__container{
            width: 100%;
            border-radius: 16px;
            display: flex;
            justify-content: space-around;
            .price__button--buy{
                width: 125px;
            }
            .price__button--cart{
                width: 60px;
                position: relative;
            }
        }
    }
    .description{
        width: 90%;
        background-color: colors.$main-black;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .suggested__title{
        font-size: size.$main-title;
        padding: 0px 50px 0px 50px;
    }
    .product__image--picture:hover{
        transform: scale(1.05);
    }
    .product__image--pictureC:hover{
        transform: scale(1.05);
    }
    .price__button--buy:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    .price__button--cart:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}
@media(min-width: 1024px){
    .price{
        width: 80%;
        &__container{
            .price__button--buy{
                width: 125px;
            }
            .price__button--cart{
                width: 125px;
            }
        }
    }
}
@media (min-width: 1024px) and (min-height: 600px){
    .main__container--wrapper{
        height: 90vh;
    }
    .suggested .suggested__title{
        padding: 0px 50px 0px 50px;
    }
    .product__wrapper .information__rating{
        margin-left: -8%;
    }
    .price{
        width: 65%;
        bottom: -95px;
        left: 45px; 
    }
}
@media (min-width: 1024px) and (min-height: 1300px){
    .main__container--wrapper{
        height: 50vh;
    }
    .suggested__title{
        padding: 0px 100px 0px 100px;
    }
    .product__wrapper .information__rating{
        margin-left: -8%;
    }
}
@media (min-width: 1440px){
    .main__container--wrapper{
        height: 95vh;
        justify-content: space-evenly;
    }
    .product__box{
        width: 45%;
    }
    .suggested__title{
        padding-left: 4%;
        padding-right: 8%;
    }
    .price{
        width: 50%;
        bottom: -95px;
        left: 55px;
    }
}
@media (min-width: 2560px){
    .main__container--wrapper{
        height: 60vh;
    }
    .product__box{
        width: 40%;
    }
    .product__image{
        width: 45%;
    }
}