@use "@styles/variables/colors";
@use "@styles/variables/size";
@use "@styles/variables/fonts";

.order{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}
.order__content--items{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
    padding: 1px;
}
.order__scroll{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1px;
}
.order__scroll::-webkit-scrollbar {
    display: none;
}
@media(min-width: 768px){
    .order{
        height: 95vh;
    }
}
@media(min-width: 1024px){
    .order{
        height: 80vh;
    }
}
@media(min-width: 1440px){
    .order{
        height: 90vh;
    }
}