@use "@styles/variables/colors";
@use "@styles/variables/fonts";
@use "@styles/variables/size";

.info{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: colors.$main-black;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        &--title{
            font-size: size.$title;
            font-family: fonts.$title;
            color: colors.$white;
            font-weight: bold;
            margin-bottom: 12px;
            width: 95%;
        }
        &--text{
            width: 95%;
            font-size: size.$text;
            font-family: fonts.$text;
            font-weight: 500;
            color: colors.$white;
            margin-top: 5px;
            margin-bottom: 35px;
            text-align: left;
        }
    }
    &__image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--picture{
            max-width: 95%;
            height: auto;
        }
    }
}
@media (min-width: 768px){
    .info{
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: row;
        &__container{
            width: 45%;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            &--title{
                font-size: size.$main-title;
                text-align: left;
            }
            &--text{
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: size.$secondary-subtitle;
                text-align: justify;
            }
        }
        &__image{
            width: 45%;
            &--picture{
                max-width: 100%;
            }
        }
    }
}
@media (min-width: 900px){
    .info{
        height: 650px;
        &__container{
            justify-content: space-between;
        }
    }
}
@media(min-width: 1440px){
    .info{
        height: 750px;
    }
}
@media(min-width: 2560px){
    .info{
        height: 650px;
        &__image{
            width: 30%;
            &--picture{
                max-width: 80%;
            }
        }
    }
}