@use "@styles/variables/colors";
@use "@styles/variables/fonts";
@use "@styles/variables/size";

.carousel{
    position:relative;
    width: 100%;
    height: 730px;
    margin-top: -20px;
    &__slide{
        height: 730px;
        max-width: 300px;
        margin-top: 50px;
        display: block;
        text-align: center;
    }
}
.slick-slide > div{
    margin: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-list{
    margin: 0px -40px;
    width: 100%;
    margin-left: 5px;
}
.right__arrow{
    position: absolute;
    top: 50%;
    right: 15px;
    max-width: 40px;
    max-height: 40px;
    z-index: 100;
}
.left__arrow{
    position: absolute;
    top: 50%;
    left: 15px;
    max-width: 40px;
    max-height: 40px;
    z-index: 100;
}
.slides{
    max-width: 300px;
    max-height: 640px;
    min-height: 640px;
    background-color: colors.$white;
    border-radius: 16px;
    box-shadow: 8px 12px 15px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    &__link{
        width: 100%;
        height: 640px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &--title{
            font-family: fonts.$title;
            font-size: 2.4rem;
            color: colors.$main-black;
            font-weight: bold;
            margin-top: 20px;
        }
        &--image{
            width: 64%;
            min-height: 450px;
            max-height: 450px;
            height: auto;
            margin: 0 auto; 
            object-fit: contain;
        }
        &--description{
            width: 100%;
            height: fit-content;
            background-color: colors.$main-black;
            align-items: center;
            padding: 20px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.5);
            p{
                width: 100%;
                font-family: fonts.$text;
                font-size: size.$text;
                color: colors.$light-white;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}
.slides::after{
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 26px rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.slides:hover{
    transform: scale(1.06);
    cursor: pointer;
    box-shadow: none;
}
.slides:hover::after{
    opacity: 1;
}

@media(min-width: 768px){
    .left__arrow{
        left: 30px;
    }
    .right__arrow{
        right: 30px;
    }
}