@use "@styles/variables/colors";
@use "@styles/variables/fonts";
@use "@styles/variables/size";

.story{
    width: 100%;
    &__title{
        font-size: size.$title;
        font-family: fonts.$title;
        color: colors.$white;
        padding: 0px 20px 0px 20px;
    }
}

@media (min-width: 768px) {
    .story{
        &__title{
            font-size: size.$main-title;
            padding: 0px 50px 0px 50px;
        }
    }
}
@media (min-width: 1024px) {
    .story{
        &__title{
            padding: 0px 100px 0px 100px;
        }
    }
}
@media (min-width: 1440px) {
    .story{
        &__title{
            padding-left: 3%;
        }
    }
}