$main-red: #6F181E;
$secondary-red: #5A0F14;
$yellow: #EEAF29;
$white: #ffffff;
$main-black: #161414;
$border-radius: 8px;
$title: 'Alegreya';
$text: 'Nunito';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}