@use "./variables/colors";
@use "./variables/fonts";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
main{
    min-height: calc(100vh - 63px - 15vh);
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    min-width: 320px;
    margin-top: 60px;
    margin-bottom: 30px;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: colors.$secondary-red;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background: colors.$main-black;
}
::-webkit-scrollbar-thumb:hover{
    transition: all .3s ease-out;
    background: colors.$secondary-black;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}