@import "./_global.scss";


html{
    font-size: 62.5%;
    font-family: 'Alegreya', sans-serif;
    scroll-behavior: smooth;
    min-height: 100%;
}
body{
    width: 100%;
    overflow-x: hidden;
    background: $main-red;
    background-attachment: fixed;
}