@forward "./_global.scss";
@use "./variables/colors";
@use "./variables/fonts";


html{
    font-size: 62.5%;
    font-family: fonts.$text, sans-serif;
    scroll-behavior: smooth;
    min-height: 100%;
}
body{
    width: 100%;
    overflow-x: hidden;
    background: colors.$main-red;
    background-attachment: fixed;
}