@forward "@styles/_global.scss";
@use "@styles/variables/colors";
@use "@styles/variables/size";
@use "@styles/variables/fonts";

.login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    &__container{
        width: 100%;
        max-width: 350px;
        margin-bottom: 30px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: transparent;
    
    }
}
.login__title{
    width: 100%;
    height: fit-content;
    &--content{
        font-size: size.$title;
        font-family: fonts.$title;
        color: colors.$white;
        font-weight: bold;
        text-align: center;
    }
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    &__label{
        font-size: size.$secondary-subtitle;
        font-family: fonts.$text;
        color: colors.$white;
        font-weight: 500;
        margin-bottom: 8px;
    }
    &__input{
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid colors.$light-white;
        padding: 12px;
        font-size: size.$text;
        font-family: fonts.$text;
        color: colors.$white;
        font-weight: 500;
        margin-bottom: 25px;
        transition: all 0.3s ease-in-out;
    }
    &__login{
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        height: 50px;
        letter-spacing: 1px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: fonts.$text;
        font-weight: 500;
        font-size: size.$secondary-subtitle;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
    }
    &__forgot{
        text-decoration: none;
        color: colors.$light-white;
        font-family: fonts.$text;
        font-size: size.$text;
        font-weight: 400;
        text-align: center;
    }
}
.create{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__text{
        color: colors.$light-white;
        font-family: fonts.$text;
        font-size: size.$text;
        font-weight: 400;
    }
    &__link{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &--content{
            text-decoration: none;
            color: colors.$light-white;
            font-family: fonts.$text;
            font-size: size.$secondary-subtitle;
            font-weight: bold;
        }
    }
}
.form__login:hover{
    cursor: pointer;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
}
.form__forgot:hover{
    cursor: pointer;
    text-decoration: underline;
}
.create__link--content:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media(min-width: 768px){
    .login{
        padding: 30px;
    }
    .login__container{
        border: 2px solid colors.$white;
        border-radius: 30px;
        padding: 30px 45px;
        min-width: 375px;
        min-height: 650px;
        box-shadow: 0px 0px 40px colors.$light-white;
    }
}