@forward "./_global.scss";
@use "./variables/colors";
@use "./variables/fonts";

.NotFound__container{
    width: 88%;
    max-width: 864px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .NotFound__image{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .NotFound__title{
        font-size: 4rem;
        font-family: fonts.$title;
        font-weight: bold;
        color: colors.$yellow;
        text-align: center;
    }
    .NotFound__text{
        font-size: 2rem;
        font-family: fonts.$text;
        font-weight: 400;
        color: colors.$white;
        text-align: center;
    }
}

@media (min-width: 767px){
    .NotFound__title{
        font-size: 6rem;
    }
    .NotFound__text{
        font-size: 2.4rem;
    }
}