@use "@styles/variables/colors";
@use "@styles/variables/size";
@use "@styles/variables/fonts";

.basket__card{
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(140deg, rgba(22,20,20,1) 0%, rgba(25,30,37,1) 62%, rgba(36,45,53,1) 100%);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 45px;
    border-radius: 16px;
    &--item{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        transform: translate(-20px, 0px);
        &__image{
            width: 40%;
            height: 100%;
            rotate: -15deg;
            transform: translate(0px, -20px);
            margin-right: 10px;
        }
        &__details{
            height: 100%;
            width: 60%;
            h4{
                font-size: size.$secondary-subtitle;
                font-family: fonts.$title;
                font-weight: bold;
                color: colors.$white;
            }
            p{
                font-size: size.$text;
                font-family: fonts.$text;
                font-weight: 500;
                color: colors.$light-white;
                margin-bottom: 15px;
            }
        }
        &__quantity{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            &--minus{
                width: 25px;
                height: 25px;
                color: colors.$white;
                background-color: #c12a2a;
                border: 2px solid colors.$main-black;
                border-radius: 5px;
            }
            &--amount{
                color: colors.$light-white;
                font-family: fonts.$text;
                font-size: size.$secondary-subtitle;
                font-weight: 500;
            }
            &--plus{
                width: 25px;
                height: 25px;
                color: colors.$white;
                background-color: #2a48c1;
                border: 2px solid colors.$main-black;
                border-radius: 5px;
            }
        }
    }
    &--trash{
        width: 35px;
        height: 50px;
        &__image{
            width: 100%;
            height: 100%;
        }
    }
}
.basket__card--trash:hover{
    cursor: pointer;
}
.basket__card--item__quantity--minus{
    cursor: pointer;
}
.basket__card--item__quantity--plus{
    cursor: pointer;
}
@media(min-width: 768px){
    .basket__card{
        min-height: 165px;
        max-height: 200px;
        margin-bottom: 40px;
        &--item{
            &__image{
                rotate: -18deg;
                width: 35%;
                transform: translate(0px, -10px);
            }
        }
    }
}
@media(min-width: 912px) and (min-height: 1300px){
    .basket__card{
        margin-bottom: 0px;
    }
}