@use "@styles/variables/colors";
@use "@styles/variables/size";
@use "@styles/variables/fonts";

.basket{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__scroll{
        height: 100%;
        overflow-y: scroll;
        padding: 1px;
    }
    &__header{
        width: 100%;
        height: 41px;
        margin-bottom: 25px;
        &--title{
            font-family: fonts.$title;
            font-size: size.$title;
            font-weight: bold;
            color: colors.$white;
            text-align: center;
        }
    }
    &__content{
        width: 100%;
        min-height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &--message{
            width: 80%;
            font-size: size.$text;
            font-family: fonts.$text;
            font-weight: 500;
            color: colors.$white;
            text-align: center;
            white-space: initial;
            margin-bottom: 25px;
        }
        &--items{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    &__footer{
        &--container{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__price{
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                background-color: colors.$secondary-black;
                border: 2px solid colors.$main-black;
                border-radius: 12px;
                margin-bottom: 25px;
                p{
                    font-family: fonts.$title;
                    font-size: size.$subtitle;
                    font-weight: 500;
                    color: colors.$white;
                }
            }
            &__checkout{
                width: 90%;
                height: 50px;
                border: 2px solid colors.$main-black;
                border-radius: 12px;
                background-color: colors.$yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: size.$subtitle;
                    font-family: fonts.$title;
                    color: colors.$main-black;
                    font-weight: bold;
                }
            }
        }
    }
}
.basket__scroll::-webkit-scrollbar {
    display: none;
}
.x__container{
    position: sticky;
    background-color: colors.$secondary-red;
    top: 0;
    width: 96%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
    &--image{
        width: 30px;
        height: 30px;
    }
}
.x__container:hover{
    cursor: pointer;
}
@media(min-width: 912px) and (min-height: 1300px){
    .basket{
        &__content{
            justify-content: space-evenly;
        }
    }
}
@media(min-width: 2560px){
    .basket{
        &__content{
            justify-content: flex-start;
            &--items{
                div{
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}